@import url('https://fonts.googleapis.com/css2?family=Comforter&family=IBM+Plex+Mono:wght@500&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 150px;
    height: 150px;
}

li, a, button {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5%;
    height: 60px;
    background-color: rgb(20, 29, 70);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.2s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* dark mode*/

body {
    background: var(--color-background);
    color: var(--color);
  }
.theme-dark {
    --color-background: #1a181aff;
    --color: #f2bc94;
}
.text-p {
    color: #f2bc94;
}
td {
    color: black;
}

